[submodule "lib/nexpect"]
	path = lib/nexpect
	url = git://github.com/nodejitsu/nexpect.git
[submodule "lib/mime"]
	path = lib/mime
	url = git://github.com/mjrusso/node-mime.git
[submodule "lib/formidable"]
	path = lib/formidable
	url = git://github.com/felixge/node-formidable.git
